Server = http://blackarch.mirror.digitalpacific.com.au/blackarch/os/$arch
Server = rsync://mirror.digitalpacific.com.au/blackarch/os/$arch 
Server = http://mirror.easyname.at/blackarch/os/$arch
Server = ftp://mirror.easyname.at/blackarch/os/$arch
Server = rsync://mirror.easyname.at/blackarch/os/$arch
Server = http://mirror.alexiobash.com/blackarch/os/$arch
Server = http://www.blackarch.org/blackarch/os/$arch
Server = https://www.blackarch.org/blackarch/os/$arch
Server = rsync://blackarch.org/blackarch/os/$arch
Server = http://mirror.clibre.uqam.ca/blackarch/os/$arch
Server = http://blackarch.dropswitch.net/blackarch/os/$arch
Server = http://www.blackarch.org/blackarch/os/$arch
Server = https://www.blackarch.org/blackarch/os/$arch
Server = rsync://blackarch.org/blackarch/os/$arch
Server = http://mirror.clibre.uqam.ca/blackarch/os/$arch
Server = http://blackarch.dropswitch.net/blackarch/os/$arch
Server = http://mirror.uta.edu.ec/blackarch/os/$arch
Server = ftp://mirror.uta.edu.ec/blackarch/os/$arch
Server = rsync://mirror.uta.edu.ec/blackarch/os/$arch
Server = http://mirror.cedia.org.ec/blackarch/os/$arch
Server = http://mirror.espoch.edu.ec/blackarch/os/$arch 
Server = http://blackarch.tamcore.eu/blackarch/os/$arch
Server = https://blackarch.tamcore.eu/blackarch/os/$arch
Server = rsync://blackarch.tamcore.eu/blackarch/os/$arch
Server = http://blackarch.leneveu.fr/blackarch/os/$arch
Server = http://blackarch.pi3rrot.net/blackarch/os/$arch
Server = http://mirror.adversec.com/blackarch/os/$arch
Server = http://blackarch.uteditor.de/blackarch/os/$arch
Server = http://ftp.halifax.rwth-aachen.de/blackarch/os/$arch
Server = ftp://ftp.halifax.rwth-aachen.de/blackarch/os/$arch
Server = rsync://ftp.halifax.rwth-aachen.de/blackarch/os/$arch
Server = http://blackarch1.curesec.com/blackarch/os/$arch
Server = http://ftp.cc.uoc.gr/mirrors/linux/blackarch/os/$arch
Server = ftp://ftp.cc.uoc.gr/mirrors/linux/blackarch/os/$arch
Server = rsync://blackarch@cc.uoc.gr/blackarch/os/$arch
Server = http://www.mirrorservice.org/sites/blackarch.org/blackarch/os/$arch
Server = ftp://ftp.mirrorservice.org/sites/blackarch.org/blackarch/os/$arch
Server = rsync://rsync.mirrorservice.org/blackarch.org/blackarch/os/$arch
Server = http://ftp.heanet.ie/mirrors/blackarch/os/$arch
Server = http://blackarch.mirror.garr.it/mirrors/blackarch/os/$arch
Server = rsync://blackarch.mirror.garr.it/blackarch/os/$arch
Server = http://www.ftp.ne.jp/Linux/packages/blackarch/os/$arch
Server = ftp://ftp.kddilabs.jp/Linux/packages/blackarch/os/$arch
Server = http://blackarch.pr0s3c.nl/blackarch/os/$arch
Server = https://blackarch.pr0s3c.nl/blackarch/os/$arch
Server = http://ftp.icm.edu.pl/pub/Linux/dist/blackarch/os/$arch
Server = ftp://ftp.icm.edu.pl/pub/Linux/dist/blackarch/os/$arch
Server = rsync://ftp.icm.edu.pl/pub/Linux/dist/blackarch/os/$arch
Server = gopher://ftp.icm.edu.pl/1/pub/Linux/dist/blackarch/os/$arch
Server = http://mirror.yandex.ru/mirrors/blackarch/os/$arch
Server = ftp://mirror.yandex.ru/mirrors/blackarch/os/$arch
Server = rsync://mirror.yandex.ru/mirrors/blackarch/os/$arch
Server = http://mirror.yandex.ru/mirrors/blackarch/os/$arch
Server = ftp://mirror.yandex.ru/mirrors/blackarch/os/$arch
Server = rsync://mirror.yandex.ru/mirrors/blackarch/os/$arch
Server = http://mirror.easyname.ch/blackarch/os/$arch
Server = ftp://mirror.easyname.ch/blackarch/os/$arch
Server = rsync://mirror.easyname.ch/blackarch/os/$arch
Server = https://mirror.tillo.ch/ftp/blackarch/os/$arch
Server = http://mirror.tillo.ch/ftp/blackarch/os/$arch
Server = ftpes://mirror.tillo.ch/blackarch/os/$arch
Server = ftp://mirror.tillo.ch/blackarch/os/$arch
Server = rsync://mirror.tillo.ch/blackarch/os/$arch
Server = http://ftp.linux.org.tr/blackarch/os/$arch
Server = ftp://ftp.linux.org.tr/blackarch/os/$arch
Server = rsync://rsync.linux.org.tr/blackarch/os/$arch
Server = http://blackarch.cs.nctu.edu.tw/blackarch/os/$arch
Server = rsync://blackarch.cs.nctu.edu.tw/blackarch/os/$arch
Server = http://ftp.yzu.edu.tw/Linux/blackarch/os/$arch
Server = ftp://ftp.yzu.edu.tw/Linux/blackarch/os/$arch
Server = rsync://ftp.yzu.edu.tw/Linux/blackarch/os/$arch
Server = http://mirror2.tscinc.co/blackarch/os/$arch
Server = rsync://mirror2.tscinc.co/blackarch/os/$arch
Server = https://blackarch.cdndepo.com/blackarch/os/$arch
Server = http://blackarch.cdndepo.com/blackarch/os/$arch
Server = rsync://blackarch.cdndepo.com/blackarch/os/$arch
Server = https://deadbeef.ninja/blackarch/os/$arch
Server = http://mirror.team-cymru.org/blackarch/os/$arch
Server = ftp://mirror.team-cymru.org/blackarch/os/$arch
Server = rsync://mirror.team-cymru.org/blackarch/os/$arch
Server = http://mirror.jmu.edu/blackarch/os/$arch
Server = ftp://mirror.jmu.edu/blackarch/os/$arch
Server = rsync://mirror.jmu.edu/blackarch/os/$arch
Server = http://mirror.oss.maxcdn.com/blackarch/os/$arch
Server = ftp://mirror.oss.maxcdn.com/blackarch/os/$arch
Server = rsync://mirror.oss.maxcdn.com/mirrors/blackarch/os/$arch
Server = http://arch.localmsp.org/blackarch/os/$arch

